.button-1 {
    position: relative;
    outline: none;
    background-color: #FFD700;
    color: #2b2b2b !important;
    transition: 1s;
    border-radius: 15px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 14px 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .button-2 {
    position: relative;
    outline: none;
    background-color: #ffffff !important;
    color: #2b2b2b !important;
    transition: 1s;
    border-radius: 15px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 14px 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* .button-1::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: rgb(31 31 48);
    transition: 0.5s;
    transform-origin: center;
  }
  
  .button-1::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: rgb(31 31 48);
    transition: 0.5s;
  } */
  
  /* .button-1:hover::before, .button-1:hover::after {
    transform: scale(0)
  } */
  
  .button-1:hover {
      transform: scale(1.1) !important;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2) !important;
    
  }
  .button-2:hover {
      transform: scale(1.05) !important;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2) !important;
  }

  @media screen and (max-width:700px) {
    .button-1, .button-2 {
      font-size: 14px !important;
    }
  }