.footer {
    background: #222;
    color: #fff;
    padding: 40px 20px;
    text-align: start;
}

.footer img {
    height: 100px;
    width: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 70px;
}

.footer .footer-container .logo-section {
    display: flex;
    justify-content: center;
}

.footer-column {
    flex: 1;
    min-width: 250px;
}

.footer-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid #f8b400;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 50px !important;
    }
}
